<!DOCTYPE html>
<html lang="{{ $.Site.Language.Lang }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <base href="{{ $.Site.BaseURL }}">
    <title>{{ if .Page.Title }}{{ .Page.Title }} - {{ end }}{{ .Site.Title }}</title>
    <!-- <title>Entrada Ventures</title> -->
    <link rel="shortcut icon" type="image/x-icon" href="{{ "favicon.ico" | relURL }}">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">


    <meta name="author" content="{{ $.Param "author" }}">
    <meta name="description" content="{{ $.Param "description" }}">
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    
    <link href="{{ "css/bootstrap.min.css" | relURL }}" rel="stylesheet" />
    <link href="{{ "css/cards.min.css" | relURL }}" rel="stylesheet" />
    <link href="{{ "css/base-template.min.css" | relURL }}" rel="stylesheet" />
    <link href="{{ "css/style.min.css" | relURL }}" rel="stylesheet" />
  
    <!--     Fonts and icons     -->
    <link href='https://fonts.googleapis.com/css?family=Cambo|Poppins:400,600' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Playfair+Display|Raleway:700,100,400|Roboto:400,700|Playfair+Display+SC:400,700' rel='stylesheet' type='text/css'>
    <!-- http://themes-pixeden.com/font-demos/7-stroke/ -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href="{{ "css/pe-icon-7-stroke.min.css" | relURL }}" rel="stylesheet">

  </head>
  <body id='body'>