<footer class="footer footer-big footer-color-black" data-color="black">
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-sm-3">
                <div class="info">
                    <h5 class="title">Pages</h5>
                    <nav>
                        <ul>
                            <li>
                                <a href="/">Home</a>
                            </li>
                            <!-- <li>
                                <a href="/#about">About Us</a>
                            </li> -->
                            <li>
                                <a href="/team">Our Team</a>
                            </li>
                            <li>
                                <a href="/investments">Our Investements</a>
                            </li>
                            <!-- <li>
                                <a href="#">Our Services</a>
                            </li> -->
                            <li>
                                <a href="/contact">Contact Us</a>
                            </li>
                            <li>
                                <a href="/blog">News & Blog</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-md-3 col-sm-3">
                <div class="info">
                    <h5 class="title">Latest News</h5>
                    <nav>
                        <ul style="max-height: 200px; overflow: hidden">
            
                            {{ range .Data.Pages }}
                            <li style="display: none{{ .Params.summary }}">
                                <a href="{{ .Permalink }}">
                                    {{ .Title }}
                                </a>
                                <hr class="hr-small">
                            </li>
                            {{ end }}
            
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-md-3 col-md-offset-1 col-sm-3">
                <div class="info">
                    <h5 class="title"> Help and Support</h5>
                    <nav>
                        <ul>
                            <li>
                                <a href="/contact">Contact Us</a>
                            </li>
                            <li>
                                <a href="mailto:">Company Email</a>
                            </li>
                            <li>
                                <a href="">Company Address</a>
                            </li>
                            <!-- <li>
                                <a>Policy/Terms</a>
                            </li> -->
                            <li>
                                <a>Designed & Coded by Xentez</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- <div class="col-md-2 col-md-offset-1 col-sm-3">
                <div class="info">
                    <h5 class="title">Follow us on</h5>
                    <nav>
                        <ul>
                            <li>
                                <a href="#" class="btn btn-social btn-facebook btn-simple">
                                    <i class="fa fa-facebook-square"></i> Facebook
                                </a>
                            </li>
                            <li>
                                <a href="#" class="btn btn-social btn-twitter btn-simple">
                                    <i class="fa fa-twitter"></i> Twitter
                                </a>
                            </li>
                            <li>
                                <a href="#" class="btn btn-social btn-reddit btn-simple">
                                    <i class="fa fa-google-plus-square"></i> Google+
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div> -->
        </div>
        <div class="copyright">
            © <script> document.write(new Date().getFullYear()) </script> Entrada Ventures
        </div>
    </div>
</footer>