{{ partial "head" . }}

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <!-- id="menu-toggle" -->
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation" aria-controls="navigation"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar top-bar"></span>
                    <span class="icon-bar middle-bar"></span>
                    <span class="icon-bar bottom-bar"></span>
                </button>
    
                <a href="/" style="opacity:1;">
                    <img style="width:auto; height:90px; padding:10px;" src="img/logo.png" />
                </a>
            </div>
            <div id="navigation" class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right cl-effect-7">
                    <!-- <li>
                        <a class="navmenulink" href="/#about">About Us</a>
                    </li> -->
                    <li>
                        <a class="navmenulink" href="/team">Team</a>
                    </li>
                    <li>
                        <a class="navmenulink" href="/investments">Investments</a>
                    </li>
                    <li>
                        <a class="navmenulink" href="/contact">Contact Us</a>
                    </li>
                    <li>
                        <a class="navmenulink" href="/blog">Blog</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div style="text-align: center; margin: 0 auto; height: 50vh;">
        <!-- Add your site or application content here -->
        
        <h1 style="padding-top: 150px;">Page not found!</h1>
        <h2>404 Error</h2>
        <a href="{{ "" | relURL }}" title="Back to homepage"><h3>Go back to the homepage</h3></a>
    </div>

     {{ partial "pagebottom" . }}


{{ partial "footer" . }}