/* main green color: #448F49 */
@import url('https://fonts.googleapis.com/css?family=Rajdhani');
/* san-serif bold */

body{
  background-color: white;
}

.header {
  color: #36A0FF;
  font-size: 70px;
  padding: 10px;
}

.bigicon {
  font-size: 35px;
  color: #36A0FF;
}


.active {
  color: black !important;
  opacity: 1;
}


/* Effect 7: second border slides up */
.cl-effect-7 a {
	padding: 12px 10px 10px;
	color: #448F49;
	text-shadow: none;
	font-weight: 700;
}

.cl-effect-7 a::before,
.cl-effect-7 a::after {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 2px;
	background: #448F49;
	content: '';
	-webkit-transition: -webkit-transform 0.3s;
	-moz-transition: -moz-transform 0.3s;
	transition: transform 0.3s;
	-webkit-transform: scale(0.85);
	-moz-transform: scale(0.85);
	transform: scale(0.85);
}

.cl-effect-7 a::after {
	opacity: 0;
	-webkit-transition: top 0.3s, opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: top 0.3s, opacity 0.3s, -moz-transform 0.3s;
	transition: top 0.3s, opacity 0.3s, transform 0.3s;
}

.cl-effect-7 a:hover::before,
.cl-effect-7 a:hover::after,
.cl-effect-7 a:focus::before,
.cl-effect-7 a:focus::after {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	transform: scale(1);
}

.cl-effect-7 a:hover::after,
.cl-effect-7 a:focus::after {
	top: 0%;
	opacity: 1;
}


.jumbotron {
  background-color: white;
  box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.125);
  margin-top: 6em;
  margin-bottom: 0em;
}

/*.card-img-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #448f49;
  vertical-align: center;
  text-align: center;
  padding: 20px !important;
  padding-top: 10px !important;
}

.card-img-overlay p {
  font-size: 16px !important;
}
.card-img-overlay p, h2 {
  /* color: white !important; */
/*}

.card-img-overlay h2 {
    font-weight: 600 !important;
}

.card:hover .card-img-overlay {
  opacity: 1;
}
*/
.card-img-top {
  padding: 20%;
}

.title-area {
  color: white;
  margin: 0 auto;
  text-align: center;
  vertical-align: center;
}

.title-area h2 {
  color: black;
}

a.card-link {
  /* This is the link of the entire card */
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.card-columns {
  padding: 1%;
}

.cards-wrapper {
  /* min-height: 90vh; */
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-evenly;
  padding-left: calc(5% - 16px);
  padding-right: calc(5% - 16px);
  /* padding: 0 5%; */
  }

.profile-box-overlay{
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .6s ease;
  background-color: #448f49;
  text-align: center;
}
  
  
  .profile-box:hover .profile-box-overlay{
    opacity: 1;
  }
  
.profile-box {
background: #FFFFFF;
box-shadow: 0 2px 6px 0 rgba(47,83,151,0.10);
border-radius: 3px;
margin: 16px;
padding: 16px;
width: 200px !important;
max-height: 400px;
text-align: center;
transition: 300ms;
flex-grow: 1;
}

.profile-box .profile-name, .team-title {
  color: black !important;
}

.profile-box {
  transition: all .25s ease-in-out;
}

.profile-box:hover {
/* box-shadow: 0 2px 6px 0 rgba(47,83,151,0.40); */
box-shadow: 0 0 20px 9px rgba(0,0,0,0.03);
transform: scale(1.03);
}


.cards-wrapper img {
width: 100px;
height: 100px;
border-radius: 50%;
box-shadow: 0 2px 6px 0 rgba(47,83,151,0.10);
}


.cards-wrapper h2 {
font-weight: 300;
margin-bottom: 5px;
}

.cards-wrapper h3 {
font-weight: 300;
font-size: 24px;
margin-top: 0;
}

.cards-wrapper p {
transition: 500ms;
font-weight: 300;
font-size: 16px;
margin-top: 8px;
color: rgb(70, 72, 73);
cursor: pointer;
}

.cards-wrapper h4:hover {
color: #448F49;
text-decoration: underline;
}

.team-title {
  margin-bottom: 0 !important;
}

.btn-container {
   margin: 0 auto;
   width: 64px;
   height: 64px;
   opacity: 1 !important;
}

#linkedin, #link2 {
/* width: 49%; */
margin: 0 auto;
font-size: 16px;
color: #98A0A6;
font-weight: 400;
/* padding: 8px 0; */
border-radius: 100px;
transition: .6s;
cursor: pointer;
}

#linkedin:hover {
/* background-color: #53ac59; */
transition: .6s;
color: #448f49;
stroke: white;
fill: #448f49;
box-shadow: 0 10px 20px 0 rgba(68, 143, 73, 0.3);
}

#linkedin:hover #linkedin-g {
  fill: #448f49;
  transition: .6s ease;
}

#linkedin:hover #linkedin-path {
  fill: white;
  transition: .6s ease;
}

#linkedin:hover #linkedin-circle {
  stroke: white;
  transition: .6 ease;
} 

#linkedin-g{
  fill: white;
}

#link2 {
margin-left:1%;
float: right;
}

.cards-wrapper i {
margin-right: 5px;
}


.card-member {
transition: all .25s ease-in-out;
}

.card-member:hover {
  box-shadow: 0 10px 20px 0 rgba(68, 143, 73, 0.2);
  transform: scale(1.03);
}


/* .h1 {
  font-family: "Cambo", "Times New Roman", serif;
} */

#loadLogo {
    opacity: 0;
}

#loadLogoMobile {
    opacity: 1;
}

@media (min-width: 768px) {
    #loadLogo {
        opacity: 1;
    }
    #loadLogoMobile {
        opacity: 0;
    }
}

.investment-logo {
    opacity: 1 !important;
}

.navbar ul li a {
    color: rgba(23, 39, 39, 0.85) !important;
    position: relative;
    color: #448F49;
    text-decoration: none;
}

.navbar ul li a:hover {
    color: #448F49;
}

.navbar ul li a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #448F49;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.navbar ul li a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.navbar-toggle {
    margin-top: 24px;
    margin-bottom: 24px;
    border: 0;
}

.navbar-transparent .navbar-toggle .icon-bar {
    background-color: rgb(20,20,20);
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: rgb(20, 20, 20);
}

h4, .h4 {
  font-size: 1.3em;
  line-height: 1.714285714em;
}

h5 {
  font-size: 1.2em;
}

p {
  font-size: 14px;
  line-height: 1.6em;
  font-weight: 400;
  margin: 0 0 .75em;
}

p,
label,
.btn,
.form-control,
.title h5,
.navbar,
.brand,
.btn-simple,
a,
.td-name,
td,
small,
.media h5,
.subtitle {
  font-family: "Cambo", "Times New Roman", serif;
}

a {
  color: #777777;
  opacity: .7;
  font-size: 14px;
}
a:hover {
  color: #777777;
  opacity: 1;
}

.title {
  text-align: center;
  margin-bottom: 50px;
}
.title p {
  color: #777777;
}

.title-modern {
  font-family: "Cambo", "Times New Roman", serif;
  /* font-family: 'Zebrazil', serif !important; */
  font-size: 2.5em;
  font-weight: 400;
  line-height: 1.2em;
  color: white !important;
}

@media (min-width: 576px) { 
  .title-modern {
    font-size: 2.75em;
  }
}
@media (min-width: 768px) { 
  .title-modern {
  font-size: 3.0em;
} }

@media (min-width: 992px) { .title-modern {
  font-size: 3.25em;
} }

@media (min-width: 1200px) { .title-modern {
  font-size: 3.5em;
} }


/* ****************************
 https: //github.com/bootstrapstudio/bootstrap-better-nav
****************************  */ 

body.overflow-hidden {
  overflow: hidden;
}

#side-menu {
  display: none;
  position: fixed;
  width: 300px;
  top: 0;
  right: -300px;
  height: 100%;
  overflow-y: auto;
  z-index: 1035;
  background: #fff;
  padding: 20px 30px;
  color: #333;
  transition: 0.4s;
}

body.side-menu-visible #side-menu {
  transform: translateX(-300px);
}

#side-menu .contents {
  margin-top: 15px;
}

#side-menu .nav-link {
  color: #333;
  font-size: 16px;
  font-weight: 600;
  padding: 12px 0;
}

#side-menu .nav-link:hover {
  opacity: 0.8;
}

#side-menu .close {
  font-size: 36px;
  font-weight: normal;
}

.side-menu-overlay {
  position: fixed;
  left: 0;
  top: 0;
  min-width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 100;
  display: none;
}

#side-menu-close {
  padding: 5px;
  font-size: 20px;
  color: rgb(34, 34, 34)
}

#side-menu .contents {
  margin-top: 30px;
}

#side-menu a {
  padding-bottom: 3px;
  padding-top: 4px;
  margin: 25px;
  margin-top: 30px;
  margin-left: 10px;
}
